/APE_Semana4_Soluciones/nbproject/private/
/APE_Semana4_Soluciones/build/
/APE_Semana4_ejercicio1/nbproject/private/
/APE_Semana4_ejercicio1/build/
/APE_Semana4_Ejercicio 2/nbproject/private/
/APE_Semana4_Ejercicio 2/build/
/APE_Semana4_ejercicio3/nbproject/private/
/APE_Semana4_ejercicio3/build/
/APE_Semana4_ejercicio4/nbproject/private/
/APE_Semana4_Ejercicio4/nbproject/private/
/APE_semana4_Ejercicio4/nbproject/private/
/APE_Semana4_Ejercicio4/build/
